.whack-a-mole-game {
  $game-score-color: $color-light;
  $game-score-font-weight: $font-weight-semibold;
  $game-score: clamp(1.125rem, 0.8591rem + 1.1345vw, 1.5625rem); 
  $game-button-fontsize: $font-size-small;
  $game-button-rounded: $border-radius-2;
  $game-button-fontweight: $font-weight-semibold; 
  $game-button-shadow: rgba($color: $color-black, $alpha: 0.12) 0px 1px 3px, rgba($color: $color-black, $alpha: 0.24) 0px 1px 2px;
  overflow: hidden;
  @extend %no-select;

  .game-container {
    @include flex(flex, center, center, null);
    position: relative;
    width: 100%;
    height: 100vh;
    background: limegreen;
    
    .setup {
      @include absolute(50%, 50%, 99);
      width: 100%;
      
      .buttons {
        @include flex(flex, center, center, null);
        
        &--button {
          font-size: $game-button-fontsize;
          font-weight: $game-button-fontweight;
          margin-inline: 0.2rem;
          padding: 0.5rem 2.5rem;
          background: $color-warning;
          color: $color-white;
          border-radius: $game-button-rounded;
          box-shadow: 1px 3px 0px darken($color: $color-warning, $amount: 9);
          &:first-child {
            background: $color-success;
            box-shadow: 1px 3px 0px darken($color: $color-success, $amount: 9);
          }
          &:last-child {
            background: $color-danger;
            box-shadow: 1px 3px 0px darken($color: $color-danger, $amount: 9);
          }
        }
      }

      .start-button {
        display: block;
        margin: 1rem auto;
        font-size: $game-button-fontsize;
        font-weight: $game-button-fontweight;
        padding: 0.6rem 2.5rem;
        background: $color-secondary;
        color: $color-white;
        border-radius: $border-pill;
        box-shadow: 1px 3px 0px darken($color: $color-secondary, $amount: 9);
      }
    }
    
    .score {
      @include absolute(5%, 50%, null);
      font-size: $font-size-small;
      font-weight: $font-weight-semibold;
      padding: 0.3rem 2rem;
      color: $color-dark;
      background: $color-light;
      border-radius: $border-pill;
      outline: 3px solid rgba($color: $color-light, $alpha: 0.2);
    }

    .game-time {
      @include absolute(12%, 50%, null);
      font-size: $game-score;
      font-weight: $game-score-font-weight;
      color: $game-score-color;
      text-shadow: 1px 2px 1px $color-dark;
    }
    
    .game {
      display: grid;
      gap: 0.8rem clamp(1.5rem, 0.2468rem + 5.5696vw, 3.7rem);
      place-items: center;
  
      $gridgap: 3.3rem;
      &.easy {
        grid-template-columns: repeat(3, $gridgap);
      }
      &.medium {
        grid-template-columns: repeat(4, $gridgap);
      }
      &.hard {
        grid-template-columns: repeat(5, $gridgap);
      }

      .hole {
        $hs: clamp(4rem, 2.7184rem + 5.6962vw, 6.25rem);
        position: relative;
        width: $hs;
        height: $hs;
        background: chocolate;
        border-radius: $border-circle;
        overflow: hidden;

        .mole {
          position: absolute;
          top: 100%;
          background: url("https://media.geeksforgeeks.org/wp-content/uploads/20231130123541/mole.png") bottom center no-repeat;
          background-size: 80%;
          width: 100%;
          height: 100%;
          transition: all 0.35s ease-in-out;
        }
        &.up .mole {
          top: 0;
        } 
      }  
    }
  }
}

