.confirm-popup {
  @include absolute(50%, 50%, 99);
  text-align: center;
  width: max-content;
  height: max-content;
  padding: 1rem;
  background: $color-white;
  border-radius: $border-radius-2;

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .button-yes {
    margin-right: 0.5rem;
    padding: 0.5rem 2rem;
    color: $color-light;
    background: $color-danger;
  }
  .button-no {
    padding: 0.5rem 2rem;
    background: $color-success;
  }
}