.hangman-game {
  $hangman-image-size: clamp(11.25rem, 3.4177rem + 34.8101vw, 25rem);
  $card-width: max-content;
  $card-background: $color-light;
  $card-shadow: 0 10px 25px rgba($color: $color-black, $alpha: 0.1);
  $game-input-width: clamp(3.75rem, 3.4524rem + 1.4881vw, 4.375rem);
  $game-input-fontweight: $font-weight-semibold;
  $game-input-text-color: $color-secondary;
  $game-input-placeholder-size: $font-size-xx-small;
  $game-input-shadow: rgba($color: $color-black, $alpha: 0.12) 0px 1px 3px, rgba($color: $color-black, $alpha: 0.24) 0px 1px 2px;
  $game-container-radius: $border-radius-1;
  $submit-button-color: $color-secondary-subtle;
  $game-button-fontsize: $font-size-small;
  $game-button-reset-color: $color-danger;
  $game-button-next-color: $color-warning;
  $game-button-submit-color: $color-success;
  $game-board-outline-color: $color-light;
  $game-level-fontweight: $font-weight-semibold;
  $game-submit-button-color: $color-secondary-subtle;
  overflow: hidden;
  @extend %no-select;
  
  .game-container {
    @include flex(flex, center, center, 0.5rem);
    flex-wrap: wrap;
    padding: clamp(0rem, -0.7143rem + 3.5714vw, 1.5rem);
    background: $card-background;
    outline: 5px solid rgba($color: $game-board-outline-color, $alpha: 0.3);
    border-radius: $border-radius-2;
    box-shadow: $card-shadow;
  
    .hangman-image {
      width: $hangman-image-size;
    }
  
    .inputs-container {
      width: $card-width;
      max-width: 100vw;
      max-height: 100vh;
      text-align: center;

      .scores {
        @include flex(flex, center, center, 0.5rem);
        flex-wrap: wrap;
        &--incorrect, &--correct, &--remaining, &--words {
          padding: 0.3rem 0.6rem;
          border-radius: $game-container-radius;
          box-shadow: $game-input-shadow;
          .wrong {
            color: $color-danger;
          }
          .correct {
            color: $color-success;
          }
          .remaining {
            color: $color-warning;
          }
          .complete {
            color: $color-primary;
          }
          .word-total {
            color: $color-secondary;
          }
        }
      }

      .word-level {
        margin-top: 0.5rem;
      }
  
      .word-display {
        @include flex(flex, center, center, clamp(0.2rem, 0.0291rem + 0.7595vw, 0.5rem));
        flex-wrap: wrap;
        margin-block: 1rem;
  
        input {
          font-size: calc($game-input-width - 25px);
          font-weight: $game-input-fontweight;
          text-align: center;
          text-transform: uppercase;
          color: $game-input-text-color !important;
          height: $game-input-width;
          width: $game-input-width;
          border: none;
          border-radius: $game-container-radius;
          box-shadow: $game-input-shadow;
          &::placeholder {
            @include absolute(18%, 18%, 50);
            font-size: $game-input-placeholder-size;
            color: rgba($color: $game-submit-button-color, $alpha: 0.6);
          }
          &:focus {
            outline: 2px solid $game-submit-button-color;
          }
        }
      }

      .submit-btn {
        width: 100%;
        font-size: $game-button-fontsize;
        margin-block: 0.2rem 0.8rem;
        padding-block: 0.5rem;
        color: $color-light;
        background: $game-submit-button-color;
        box-shadow: 1px 3px 0px darken($color: $game-submit-button-color, $amount: 9);
      }
  
      .buttons {
        @include flex(flex, center, center, 0.5rem);
        flex-wrap: wrap;
        width: 100%;
  
        %button-settings {
          font-size: $game-button-fontsize;
          font-weight: $game-level-fontweight;
          padding: 0.5rem 2.5rem;
          color: $color-white;
          border-radius: 8px;
        }
    
        &-button-reset {
          @extend %button-settings;
          background: $game-button-reset-color;
          box-shadow: 1px 3px 0px darken($color: $game-button-reset-color, $amount: 9);
        }
        &-button-next {
          @extend %button-settings;
          background: $game-button-next-color;
          box-shadow: 1px 3px 0 darken($color: $game-button-next-color, $amount: 9);
        }
        &-button-start {
          @extend %button-settings;
          background: $game-button-submit-color;
          box-shadow: 1px 3px 0 darken($color: $game-button-submit-color, $amount: 9);
        }
      }
    }
  }
}
